# Rust build files
pokemon_dv_calculator/target/*

# Images for development
*.png

# Libraries do not have this in version control
# https://doc.rust-lang.org/cargo/faq.html#why-do-binaries-have-cargolock-in-version-control-but-not-libraries
Cargo.lock

# Net package
net/target
net/**/*.rs.bk
net/Cargo.lock
net/bin/
net/pkg/
net/wasm-pack.log

# Data files
# Ignored until resolved format
pokemon_dv_calculator/data/
pokemon_dv_calculator/data_manual/
