body {
    background-color: dimgray;
}

main {
    overflow: scroll;
    padding: 20px;
    background-color: darkgray;
}

@media (min-width: 960px) {
    main {
        position: absolute;
        left: calc(50% - 480px);
        width: 960px;
    }
}
