body {
    /* Taken from https://www.svgbackgrounds.com/ */
    background-color: #ff9d00;
    background-image: url("background.svg");
    background-attachment: fixed;
    background-size: cover;
}

main {
    overflow: scroll;
    padding: 20px;
    border-radius: 20px;
    background-color: #333333; /* https://design.ubuntu.com/brand/colour-palette */
}

@media (min-width: 960px) {
    main {
        position: absolute;
        left: calc(50% - 480px);
        width: 960px;
    }
}

#output {
    font-family: monospace;
    white-space: pre-wrap;
}
